:root {

    --neutral: 240:

    --neutral-50: hsl(var(--neutral) 3% 11%);
    --neutral-100: hsl(var(--neutral) 2% 18%);
    --neutral-200: hsl(var(--neutral) 2% 23%);
    --neutral-300: hsl(var(--neutral) 1% 29%);
    --neutral-400: hsl(var(--neutral) 1% 39%);
    --neutral-500: hsl(var(--neutral) 2% 57%);
    --neutral-600: hsl(var(--neutral) 3% 69%);
    --neutral-700: hsl(var(--neutral) 5% 79%);
    --neutral-800: hsl(var(--neutral) 6% 83%);
    --neutral-900: hsl(var(--neutral) 11% 91%);
    --neutral-1000: hsl(var(--neutral) 24% 96%);

    
    
    
    --blue: 210:


    --blue-100: hsl(var(--blue) 100% 18%);
    --blue-200: hsl(var(--blue) 100% 23%);
    --blue-300: hsl(var(--blue) 100% 29%);
    --blue-400: hsl(var(--blue) 100% 39%);
    --blue-500: hsl(var(--blue) 100% 57%);
    --blue-600: hsl(var(--blue) 100% 69%);
    --blue-700: hsl(var(--blue) 100% 79%);
    --blue-800: hsl(var(--blue) 100% 83%);
    --blue-900: hsl(var(--blue) 100% 91%);

} 