:root {
  --font-primary: "SF Pro Text", Sans-serif;
  --font-secondary: "Suisse", Sans-serif;
  --font-mono: "Suisse", Sans-serif;

  --font-base: 1rem;
  --font-scale: var(--font-scale-prefect-fourth);

  --font-scale-golden: 1.618;
  --font-scale-major-third: 1.25;
  --font-scale-prefect-fourth: 1.333;

  --font-light: 300;
  --font-standard: 400;
  --font-strong: 600;

  --font-lh-standard: 1.5;
  --font-lh-tight: 1.2;
  --font-lh-teset: 1;

  --text-large: calc(var(--font-base)*var(--font-scale));
  --text-standard: var(--font-base);
  --text-small: calc(var(--font-base)*0.875);
  --text-micro: calc(var(--font-base)*0.75);
  
  --text-h1: calc(var(--font-base)*var(--font-scale)*var(--font-scale)*var(--font-scale)*var(--font-scale)*var(--font-scale));
  --text-h2: calc(var(--font-base)*var(--font-scale)*var(--font-scale)*var(--font-scale));
  --text-h3: calc(var(--font-base)*var(--font-scale)*var(--font-scale));
  --text-h4: calc(var(--font-base)*var(--font-scale));
  --text-h5: calc(var(--font-base)*0.825);
} 