@use '../tokens';


:root {
  
}


body {
  background-color: var(--clr-canvas);
  color: var(--clr-primary);
  font-size: var(--text-standard);
  font-family: var(--font-primary);
  line-height: var(--font-lh-standard);
  padding: 2rem;

  max-width: 768px; 
  margin-inline: auto;
}


fieldset {
  margin: 2rem 0;
}

.lead {
  font-size: var(--text-large);
}

.small {
  font-size: var(--text-small);
}

:is(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--font-strong);
    line-height: var(--font-lh-tight);
    color: var(--clr-text-accent);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

:is(h1, h2, h3, h4, h5, h6, p) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

:is(h1, h2, h3, h4, h5, h6, p) + :is(p) {
  margin-top: 0.25rem;
}

section {
  margin: 2rem 0;
}



